[common]
# 这里的设置会强制注入到生成的 Clash 配置中
[common.clash_config]
port = 7890
socks-port = 7891
allow-lan = true
mode = "rule"
log-level = "info"
ipv6 = false
external-controller = "0.0.0.0:9090"

[common.clash_config.dns]
enable = true
listen = "0.0.0.0:1053"
enhanced-mode = "fake-ip"
fake-ip-range = "198.18.0.1/16"
nameserver = ["119.29.29.29", "223.5.5.5", "https://doh.pub/dns-query"]
fallback = ["8.8.8.8", "1.1.1.1", "https://dns.google/dns-query"]

[common.clash_config.sniffer]
enable = true
sniff = { TLS = { ports = [443, 8443] }, HTTP = { ports = [80, "8080-8880"] } }
force-domain = ["+"]
